
{
  "jsc": {
    "parser": {
      "syntax": "ecmascript",
      "jsx": true
    },
    "transform": {
      "react": {
        // Use React 17+ "automatic" runtime so you don't need `import React`
        "runtime": "automatic",
        "development": true,
        "refresh": false
      }
       },
    "target": "es2020"
  },
  "module": {
    "type": "commonjs"
  },
  "sourceMaps": true
}